/* General */
.col-light {
    background-color: #d0d050;
}

.col-mid {
    background-color: #b0b040;
}

/* NavBar */
.nav {
    width: 100%!important;
    background-color: #e4b373;
}

/* Score Bar */
.currentScore {
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #605000;
    font-size: 24px;
    font-weight: bold;
}

/* Game Stage */
#stageCol {
    padding:0;
}

.gameStage {
    border: solid 2px #707020;
}

/* Tools */
.tool-button {
    margin-top: 5px;
}

/* Speed Slider */
.speedSlider {
    width: 50%;
    background-color: #40a040;
}

.sliderHead {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
}

.sliderText {
    font-style: italic;
}
/* Score Table */
.score-page-title {
    margin-bottom: 5px;
}

.scoreHeading {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.scoreTable {
    font-size: 24px;
}

.high-score-col {
    margin-top: 5px;
}