/* NavBar */
.nav {
    width: 100%!important;
    background-color: #e4b373;
}

/* Score Bar */
.currentScore {
    color: #605000;
    font-size: 24px;
    font-weight: bold;
}

/* Game Stage */
.gameStage {
    background-color: #d0d060
}

/* Speed Slider */
.speedSlider {
    width: 50%;
    background-color: #40a040;
}

/* Score Table */
.scoreHeading {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.scoreTable {
    font-size: 24px;
}