/* NavBar */
.nav {
    width: 100%!important;
    background-color: #e4b373;
}

/* Score Bar */
.currentScore {
    color: #605000;
    font-size: 24px;
    font-weight: bold;
}

/* Game Stage */
.gameStage {
    background-color: #d0d060
}

/* Bat Control */
.batControl {
    padding: 0;
    width: 43px;
    height: 43px;
    border-style: 1px solid black;
}

/* Score Table */
.scoreHeading {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.scoreTable {
    font-size: 24px;
}